// colors
@primary-color: #0a127a;
@primary-text-color: #fff;
@primary-background-color: #051222;
@light-blue: #6994f5;

// media
@mobiles: ~'only screen and (max-width: 859px)';
@desktops: ~'only screen and (min-width: 860px)';
@dark: ~'(prefers-color-scheme: dark)';
